<app-top-nav></app-top-nav>

<!-- <div class="bg-black text-violet-500 p-8 rounded-lg shadow-lg">
  <div class="flex items-center">
    <img class="w-32 h-32 rounded-full border-2 border-violet-500" [src]="mockUserProfile.imageUrl" alt="Profile Picture">
    <div class="ml-8">
      <h2 class="text-2xl font-bold">{{ mockUserProfile.firstName }} {{ mockUserProfile.lastName }}</h2>
      <p class="mt-2">{{ mockUserProfile.bio }}</p>
      <ul class="mt-4">
        <li class="flex items-center"><i class="fas fa-envelope mr-2"></i>{{ mockUserProfile.email }}</li>
        <li class="flex items-center"><i class="fas fa-phone mr-2"></i>{{ mockUserProfile.phoneNumber }}</li>
        <li class="flex items-center"><i class="fas fa-id-card mr-2"></i>{{ mockUserProfile.age }}</li>
        <li class="flex items-center"><i class="fas fa-id-card mr-2"></i>{{ mockUserProfile.idNumber }}</li>
        <li class="flex items-center"><i class="fas fa-car mr-2"></i>{{ mockUserProfile.vehicleType }}</li>
        <li class="flex items-center"><i class="fas fa-calendar mr-2"></i>{{ mockUserProfile.agvehicleRege }}</li>
        <li *ngIf="mockUserProfile.location" class="flex items-center"><i class="fas fa-map-marker-alt mr-2"></i>{{ mockUserProfile.location }}</li>
      </ul>
    </div>
  </div>
</div> -->
<div class="bg-black text-violet-500 p-8 rounded-lg shadow-lg sm:p-12 md:p-16 lg:p-20">
  <div class="flex flex-col sm:flex-row items-center">
    <img class="w-32 h-32 rounded-full border-2 border-violet-500 mb-6 sm:mb-0 sm:mr-8 md:w-40 md:h-40" [src]="mockUserProfile.imageUrl" alt="Profile Picture">
    <div>
      <h2 class="text-2xl font-bold sm:text-3xl md:text-4xl pb-2 border-b-2 border-violet-500">{{ mockUserProfile.firstName }} {{ mockUserProfile.lastName }}</h2>
      <p class="mt-2 sm:mt-4 text-base sm:text-lg md:text-xl">{{ mockUserProfile.bio }}</p>
      <ul class="mt-4 sm:mt-6 md:mt-8">
        <li class="flex items-center text-base sm:text-lg md:text-xl"><i class="fas fa-envelope mr-2"></i>{{ mockUserProfile.email }}</li>
        <li class="flex items-center text-base sm:text-lg md:text-xl"><i class="fas fa-phone mr-2"></i>{{ mockUserProfile.phoneNumber }}</li>
        <li class="flex items-center text-base sm:text-lg md:text-xl"><i class="fas fa-id-card mr-2"></i>{{ mockUserProfile.age }}</li>
        <li class="flex items-center text-base sm:text-lg md:text-xl"><i class="fas fa-id-card mr-2"></i>{{ mockUserProfile.idNumber }}</li>
        <li class="flex items-center text-base sm:text-lg md:text-xl"><i class="fas fa-car mr-2"></i>{{ mockUserProfile.vehicleType }}</li>
        <li class="flex items-center text-base sm:text-lg md:text-xl"><i class="fas fa-calendar mr-2"></i>{{ mockUserProfile.agvehicleRege }}</li>
        <li *ngIf="mockUserProfile.location" class="flex items-center text-base sm:text-lg md:text-xl"><i class="fas fa-map-marker-alt mr-2"></i>{{ mockUserProfile.location }}</li>
      </ul>
    </div>
  </div>
</div>
