.footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    display: flex;
    border-radius: 10px 10px 0 0;
  }
  
  .fa-regular {
    font-size: medium;
  }
  
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 15px;
  }
  
  li {
    color: white;
    flex: 1;
  }
  
  li a {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li a div {
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
  }
  
  li a div:hover {
    background-color: #8b5cf6;
    color: black;
  }
  
  li a svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  li a img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }