<footer class="footer p-3 z-1000 bg-black text-violet-500 border-t border-violet-500">
    <ul class="flex justify-around items-center">
      <li>
        <a routerLink="/home" class="btn btn-ghost btn-circle">
          <div tabindex="0" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.3rem" height="1.3rem" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
              <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/cart" class="btn btn-ghost btn-circle">
          <div tabindex="0" role="button" class="indicator">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.3rem" height="1.3rem" viewBox="0 0 256 256">
              <path fill="currentColor" d="M216 64h-40a48 48 0 0 0-96 0H40a16 16 0 0 0-16 16v120a16 16 0 0 0 16 16h176a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16M96 104a8 8 0 0 1-16 0V88a8 8 0 0 1 16 0Zm32-72a32 32 0 0 1 32 32H96a32 32 0 0 1 32-32m48 72a8 8 0 0 1-16 0V88a8 8 0 0 1 16 0Z"/>
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/orders" class="btn btn-ghost btn-circle">
          <div tabindex="0" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.3rem" height="1.3rem" viewBox="0 0 24 24">
              <path fill="currentColor" d="M19 4h-3V2h-2v2h-4V2H8v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2M5 20V7h14V6l.002 14z"/>
              <path fill="currentColor" d="M7 9h10v2H7zm0 4h5v2H7z"/>
            </svg>
          </div>
          </a>
        </li>
        <li>
          <a routerLink="/businessprofile" class="btn btn-ghost btn-circle avatar">
            <div tabindex="0" role="button" class="w-7 rounded-full">
              <img alt="Tailwind CSS Navbar component" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"/>
            </div>
          </a>
        </li>
      </ul>
  </footer>
